table{
  position: relative;
}

th {
  background-color: black;
  text-align: center;
}

tr {
  color: white;
  border: 1px solid black;
  text-align: center;
}

td {
  min-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

td:last-child {
  text-align: left;
}

.j {
  background-color: rgba(240, 219, 79, 0.8);
}

.r {
  background-color: rgba(217, 20, 4, 0.8);
}

.h {
  background-color: rgba(101, 101, 85, 0.8);
}
